#archivos
archivos/
.venv/
*.pyc
__pycache__/

# Ignorar todo en la carpeta QUARTUS
QUARTUS/*

# Exceptuar archivos de código fuente SystemVerilog
!QUARTUS/*.sv

# También permitir el archivo de proyecto si lo deseas
#!QUARTUS/*.qpf
#!QUARTUS/*.qsf

# Ignorar copias de respaldo
*.bak
*.rpt
*.smsg
*.summary
*.pin
*.sof
*.sld
*.done
*.jdi
*.sft
*.svo

# Ignorar bases de datos temporales de Quartus
Monocycle/db/
Monocycle/incremental_db/
Monocycle/simulation/
Monocycle/output_files/

# Ignorar bases de datos temporales de Quartus
Pipeline/db/
Pipeline/incremental_db/
Pipeline/simulation/
Pipeline/output_files/

Pipelinee/db/
Pipelinee/incremental_db/
Pipelinee/simulation/
Pipelinee/output_files/

# Ignorar locks de Quartus
*.rdr.flock
